html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
button,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  height: 100%;
  font: normal 100% Cambria, Georgia, serif;
  line-height: 1;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0 0 20px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.12em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.75em;
}

a,
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

ul {
  margin-bottom: 20px;
  list-style: none;
}

p {
  margin-bottom: 20px;
  padding: 0;
}

img {
  max-width: 100%;
  border-style: none;
  outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

input::-ms-clear {
  display: none;
}

input,
button {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
textarea,
button,
.slick-slide {
  outline: none;
}

textarea {
  overflow: auto;
  resize: none;
}

strong {
  font-weight: bold;
}

label,
button {
  cursor: pointer;
}

sup,
sub {
  position: relative;
  top: -0.4em;
  vertical-align: baseline;
}

sub {
  top: 0.4em;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

body {
  background-color: #f0f4f8;
}

.section {
  padding: 50px 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #999;
  margin-bottom: 10px;
  font-size: 15px;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 22px;
  margin-bottom: 10px;
  display: block;
}

.text {
  line-height: 1.5;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-color: #ccc;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  position: relative;
}

.aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
  background-color: #f1d7b9;
  border: 2px solid #f1d7b9;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 15px;
  width: 100%;
}

.header {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-height: 80px;
  position: relative;
}

.header-content {
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  background-color: #798e93;
}

.header.isfixed .header-content {
  position: fixed;
  -webkit-animation: headerAnimation2 0.3s ease forwards;
          animation: headerAnimation2 0.3s ease forwards;
  z-index: 999;
}

.header.isfixed .header-top {
  display: none;
}

.header.static .header-content {
  -webkit-animation: headerAnimation 2s ease forwards;
          animation: headerAnimation 2s ease forwards;
}

.header-top {
  height: 50px;
  background-color: #61cce7;
}

@-webkit-keyframes headerAnimation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
    position: static;
  }
}

@keyframes headerAnimation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
    position: static;
  }
}

@-webkit-keyframes headerAnimation2 {
  from {
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes headerAnimation2 {
  from {
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 80px;
  background-color: #798e93;
}

.filter {
  width: 300px;
  position: absolute;
  background-color: #92ebd4;
  height: 500px;
  top: 0;
  left: 0;
  overflow: auto;
  overflow-x: hidden;
}

.progress {
  background-color: #e9ecef;
  height: 5px;
  width: 100%;
  position: relative;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
}

.progress-bar.success-green {
  background-color: #28a745;
}

.progress-bar.success-red {
  background-color: #dc3545;
}

.progress-bar.success-blue {
  background-color: #17a2b8;
}

.progress-title {
  display: block;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  margin-bottom: 10px;
}

.image-holder {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 60%;
}

.image-holder img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #007bff;
  line-height: 1.5;
  color: #007bff;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
  padding: 10px 20px;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.btn-filled {
  color: #fff;
  background-color: #007bff;
}

.btn-filled:hover {
  background-color: colro("blue-hover");
}
